@import url('https://fonts.googleapis.com/css?family=Overpass+Mono');

.main {
  background-color: #23495d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Overpass Mono';
  font-size: calc(10px + 2vmin);
  color: #95e0cc;
}

